:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-bottom: auto;
    padding: 20px 0;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    font-style:italic;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    max-height: 100%;
}

footer {
    display: inline-block;
    margin-top: auto;
    text-align: center;
}

.calculator {
    flex: 0 0 auto;
    border: 10px solid gray;
    height: auto;
    width: 350px;
}

.display {
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 250, 255);
    height: auto;
    width: 100%;
    font-size: 2rem;
    /* font-family: 'Silkscreen', cursive; */
    text-align: right;
}

.pastDisplay {
    word-break: break-all;
    word-wrap: break-word;
    margin: 10px;
    min-height: 3rem;
}

.currentDisplay {
    flex: 1;
    word-break: break-all;
    word-wrap: break-word;
    margin: 10px;
    min-height: 3rem;
}

.button-container{
    border: 1px solid black;
    background-color: rgb(240, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    height: 50px;
    background-color: whitesmoke;
    color: #333;
    border: 2px solid grey;
    font-size: 1.5rem;
    padding: 5px;
}

button:hover {
    background-color: #eaeaea;
}

button:active {
    background-color: #bcbcbc;
    box-shadow: 0 1px rgb(93, 93, 93);
    transform: translateY(1px);
}

.operator {
    color: #005a95;
}

.clearButton {
    grid-area: 1 / 1 / 1 / 4;
    background-color: rgb(250, 75, 75);
    color: white;
    font-weight: bold;
}

.clearButton:hover {
    background-color: rgb(254, 133, 133);
}

.clearButton:active {
    background-color: rgb(250, 75, 75);
}

#equal {
    background-color: #23a4f9;
    color: white;
    font-weight: bold;
}

#equal:hover {
    background-color: #84ceff;
}

#equal:active {
    background-color: #23a4f9;
}
